In [1]:
#age sütunundaki 10 dan küçük girilmiş yanlış verileri name_dict içerisinde olan doğru verilerle nasıl değiştiririz
import pandas as pd
import numpy as np

In [3]:
raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
'age': [20, 5, 22, 5],
'favorite_color': ['blue', 'red', 'yellow', "green"],
'grade': [88, 92, 95, 70]}
df= pd.DataFrame(raw_data, columns = ['name', 'age', 'favorite_color', 'grade'])
df

               name  age favorite_color  grade
0    Willard Morris   20           blue     88
1       Al Jennings    5            red     92
2      Omar Mullins   22         yellow     95
3  Spencer McDaniel    5          green     70

In [6]:
for index, row in df_r.iterrows():
    print ( row["name"], row["grade"])

Willard Morris 88
Al Jennings 92
Omar Mullins 95
Spencer McDaniel 70

In [2]:
name_dict = {'Al Jennings': 19, 'Omar Mullins': 21}

In [10]:
# df.loc[df[<some_column_name>] == <condition>, [<another_column_name>]] = <value_to_add>
df.loc[df["age"] < 10, ["favorite_color"]] = "black"

In [11]:
#age sütunundaki 10 dan küçük girilmiş yanlış verileri name_dict içerisinde olan doğru verilerle nasıl değiştiririz
df

               name  age favorite_color  grade
0    Willard Morris   20           blue     88
1       Al Jennings    5          black     92
2      Omar Mullins   22         yellow     95
3  Spencer McDaniel    5          black     70

In [3]:
name_dict.keys()

dict_keys(['Al Jennings', 'Omar Mullins'])

In [ ]:
??? df.loc[df["name"] == name_dict[key], ["age"]] = name_dict[value]