In [1]:
# Import necessary modules

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("data/autos.csv", encoding='cp1252')

In [9]:
df.model.describe()

count     351044
unique       251
top         golf
freq       30070
Name: model, dtype: object

In [8]:
df.model.value_counts().head(100)

golf           30070
andere         26400
3er            20567
polo           13092
corsa          12573
astra          10830
passat         10306
a4             10257
c_klasse        8775
5er             8546
e_klasse        7561
a3              6604
a6              6023
focus           5950
fiesta          5775
transporter     5528
twingo          4953
2_reihe         4816
fortwo          4338
a_klasse        4316
vectra          4255
1er             3837
mondeo          3626
clio            3553
touran          3540
3_reihe         3503
punto           3349
zafira          3049
megane          2927
ka              2702
               ...
colt             869
beetle           859
berlingo         825
sprinter         793
tigra            789
v40              782
transit          764
touareg          745
fox              744
swift            706
insignia         699
c_max            694
corolla          685
panda            676
seicento         670
sl               669
v70              645
4_reihe          640
scirocco         638
156              629
a1               622
primera          621
espace           620
grand            609
stilo            603
almera           584
a8               582
147              572
avensis          567
qashqai          549
Name: model, Length: 100, dtype: int64

In [ ]:
df_name = df.name.str.replace("_", " ")
df["brand_1"] = df_name.str.split(n = 3, expand=True)[0]
df["brand_1"].value_counts()