# Select Car Models from Excel table

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("data/mercedes_benz.xlsx", header=None)

In [16]:
# Find the rows with "name"
df = df[df[0].str.find("name") == 1]

# Select the rows without "all"
df = df[df[0].str.find("all") == -1]

In [15]:
# Select the car models
df[0].str[9:-1]

0              "170"
6              "180"
12             "190"
18             "200"
24             "208"
30         "210/310"
36             "220"
42             "230"
48             "240"
54             "250"
60             "260"
66             "270"
72             "280"
78             "300"
84             "308"
90             "320"
96             "350"
102            "380"
108            "400"
114            "416"
120            "420"
126            "450"
132            "500"
138            "560"
144            "600"
156          "A 140"
162          "A 150"
168          "A 160"
174          "A 170"
180          "A 180"
            ...
1698    "SLC 43 AMG"
1710           "SLK"
1716       "SLK 200"
1722       "SLK 230"
1728       "SLK 250"
1734       "SLK 280"
1740       "SLK 300"
1746    "SLK 32 AMG"
1752       "SLK 320"
1758       "SLK 350"
1764    "SLK 55 AMG"
1770           "SLR"
1776           "SLS"
1782      "Sprinter"
1788            "T1"
1794            "T2"
1806             "V"
1812         "V 200"
1818         "V 220"
1824         "V 230"
1830         "V 250"
1836         "V 280"
1842         "Vaneo"
1848         "Vario"
1854         "Viano"
1860          "Vito"
1872         "X 220"
1878         "X 250"
1884         "X 350"
1890        "Others"
Name: 0, Length: 292, dtype: object